<template>
  <div class="user-form-centered">
    <div class="user-form">
      <h4 class="title">Sign up
        <small>All fields are required</small>
      </h4>
      <div class="alert alert-danger alert-dismissible fade show user-form-validation" role="alert"
           v-if="isError">
        <strong>{{error.title}}!</strong> {{error.message}}
      </div>
      <form>
        <div class="user-form-group">
          <input class="user-form-input" type="text" id="email" required
                 v-model="registerData.email">
          <span class="bar"></span>
          <label for="email" class="user-form-label">Email</label>
        </div>
        <div class="user-form-group">
          <input class="user-form-input" type="text" id="firstName" required
                 v-model="registerData.firstName">
          <span class="bar"></span>
          <label for="firstName" class="user-form-label">First name</label>
        </div>
        <div class="user-form-group">
          <input class="user-form-input" type="text" id="lastName" required
                 v-model="registerData.lastName">
          <span class="bar"></span>
          <label for="lastName" class="user-form-label">Last name</label>
        </div>
        <div class="user-form-group">
          <input class="user-form-input" type="password" id="password" required
                 v-model="registerData.password">
          <span class="bar"></span>
          <label for="password" class="user-form-label">Password</label>
        </div>
        <div class="user-form-group">
          <input class="user-form-input" type="password" id="confirmPassword" required
                 v-model="registerData.confirmPassword">
          <span class="bar"></span>
          <label for="confirmPassword" class="user-form-label">Confirm password</label>
        </div>
      </form>

      <button class="btn btn-blue" v-on:click="register"
              :disabled="!isRegisterDataValid || isLoading">
        <span class="spinner-border user-form-spinner" role="status" v-if="isLoading">
        </span>
        <span v-else>Sign up</span>
      </button>

      <div class="user-form-link">
        Do you have account? <router-link to="/login">Sing in</router-link>
      </div>
    </div>
  </div>
</template>

<script>
    import {REGISTER_REQUEST} from "../store/actions/auth";

    export default {
        name: "Register",
        data() {
            return {
                registerData: {
                    email: null,
                    password: null,
                    confirmPassword: null,
                    firstName: null,
                    lastName: null
                },
                error: {
                    title: null,
                    message: null
                }
            }
        },
        methods: {
            register() {
                this.$store.dispatch(REGISTER_REQUEST, this.registerData).then(() => {
                    this.$router.push('/profile');
                })
                    .catch(e => {
                        if (e.response) {
                            this.error = e.response.data.message;

                            this.error = {
                                title: errorData.error_message,
                                message: errorData.inner_error.message
                            };
                        } else {
                            this.error = {
                                title: 'Error',
                                message: e.message
                            };
                        }
                    });
            }
        },
        computed: {
            isRegisterDataValid() {
                return this.registerData.email
                    && this.registerData.password
                    && this.registerData.firstName
                    && this.registerData.lastName
                    && this.registerData.confirmPassword
                    && this.passwordsMatched
            },
            isLoading() {
                return this.$store.getters.getAuthStatus === 'register_loading'
            },
            passwordsMatched() {
                return this.registerData.password === this.registerData.confirmPassword
                    && this.registerData.password
                    && this.registerData.confirmPassword
            },
            isError() {
                return this.$store.getters.getAuthStatus === 'register_error'
            }
        }
    }
</script>

<style scoped>

</style>
