<template>
  <span
    :style="{ height, width: computedWidth, backgroundColor: bgColor, display }"
    class="SkeletonBox"
  ></span>
</template>

<script>
    export default {
        name: 'SkeletonBox',
        props: {
            maxWidth: {
                default: 100,
                type: Number,
            },
            minWidth: {
                default: 80,
                type: Number,
            },
            height: {
                default: '1em',
                type: String,
            },
            width: {
                default: null,
                type: String,
            },
            bgColor: {
                default: 'rgba(0,0,0,0.05)',
                type: String
            },
            display: {
                default: 'inline-block',
                type: String,
            },
        },
        computed: {
            computedWidth() {
                // Either use the given fixed width or
                // a random width between the given min
                // and max values.
                if(this.width !== 'auto')
                  return this.width || `${Math.floor((Math.random() * (this.maxWidth - this.minWidth)) + this.minWidth)}%`;
            },
        },
    };
</script>

<style lang="scss">
  .SkeletonBox {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 20px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#000000, 0) 0,
          rgba(#000000, 0.05) 20%,
          rgba(#000000, 0.1) 60%,
          rgba(#000000, 0)
      );
      animation: shimmer 5s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
</style>
