.btn {

  &:focus {
    box-shadow: none;
  }

  border-radius: 30px;
  font-size: 1rem;
  border: 0;
  padding: 0.6rem 1.5rem;
  color: $white !important;
  transition: .1s;

  &:hover, &:active, &:focus {
    color: $white;
  }

  &-default {
    color: $black !important;
    border: 1px solid $grey !important;
    transition: .1s;

    &:hover {
      background-color: $light-gray;
    }
  }

  &-white {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #e5e5e5;
    background-color: #fdfdfd !important;

    img {
      height: 0.5rem;
      transform: translateX(-10px);
    }
  }

  &-blue {
    color: $white;
    background-color: $light-blue !important;

    &:hover:enabled {
      background-color: $dark-blue !important;
    }

    &:active {
      background-color: #3e5ca0 !important;
    }
  }

  &-orange {
    background-color: $orange !important;
    color: $white;

    &:hover:enabled {
      background-color: $dark-orange !important;
    }

    &:active {
      background-color: #cc8832 !important;
    }
  }

  &-back {
    padding: 0.3rem 1.5rem;
    background-color: $white;
    transition: .1s;

    &:hover {
      background-color: $light-gray;
    }
  }
  &-prev .fa-angle-left {
    transform: translateX(-1px);
  }
  &-prev,
  &-next {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #fff;
    padding: 2px 5px;
    line-height: 0;

    img {
      height: 7px;
    }
  }

  &-justified {
    width: 100%;
  }

  &-help {
    border-radius: 50%;
    font-weight: 600;
    padding: 0.25rem 0.4rem;
  }

  &-courses {
    color: $black;
  }
}