$header-color: #2c3e50;
$list-items-color: #34495e;

$orange: #F7A336;
$dark-orange: #e09637;
$light-blue: #5582EA;
$dark-blue: #4468bb;
$green: #16a085;
$light-green: #1dd1a1;
$black-grey: #adb5bd;
$red: #c84343;
$black: #000;
$dark-grey: #808495;
$grey: #E0E0E0;
$light-gray: #ecf0f1;
$white-gray: #FDFDFD;
$white: #fff;