.page {
  border-radius: 35px 8px 8px 35px;
  background-color: #f5f5f5;
  display: flex;
  position: relative;
  margin-bottom: .8rem;
  height: calc(5rem + .15rem);

  &-header {
    background-color: $header-color;
    color: #fff;
    position: relative;
    height: 160px;
    padding: 0.75rem 1rem 2rem;

    &_title {
      margin-top: 3rem;
      margin-bottom: 0;
    }

    &_description {
      font-size: 12px;
    }

    &_progress {
      position: absolute;
      font-size: 20px;
      top: 50px;
      right: 40px;
    }

    .level-button {
      position: absolute;
      top: 15px;
      right: 10px;

      @media (min-width: 768px) {
        top: 25px;
      }

      & button:hover:enabled {
        background-color: $light-gray;
      }

      span {
        margin: 0 8px;
      }
    }

    .route-back {
      padding: 0.3rem 1.5rem;
      position: absolute;
      top: 60px;
      right: 35px;
    }
  }

  &-percent {
    border-radius: 50%;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px 0 #00000030;
  }

  &-badge {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-info {
    padding-left: 1rem;
    padding-top: 0.5rem;

    span {
      display: block;
    }

    &_name {
      font-size: 1.1rem;
    }

    &_description {
      color: #97989C;
      font-weight: 600;
      font-size: .6rem;
    }
  }
}

.task {
  position: relative;

  .problem-button {
    position: absolute;
    right: 15px;
    top: -45px;

    > button {
      padding: .3rem .6rem;
      font-size: 12px;
      color: #fff !important;
    }
  }
}

.course {
  &-badges {
    position: absolute;
    top: 15px;

    .badge {
      font-size: .7rem;
      margin-right: 5px;
    }
  }
}

.congratulation {
  text-align: center;
  margin-bottom: 3.5rem;

  h2 {
    text-transform: capitalize;
  }

  small {
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  .points {
    font-size: 1.2rem;
  }
}