.round-items {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }

  &.skeleton-list {
    li {
      border-radius: 2px;
    }
  }

  li {
    div.round-item {
      border-radius: 2.5rem 1rem 1rem 2.5rem;
      background-color: $light-gray;
      display: flex;
      position: relative;
      margin: 0.75rem 1rem;
      transition: .1s;

        &:hover {
          background-color: $list-items-color;
          cursor: pointer;
        }

        &:hover .round-items_text div {
          color: $white;
        }
    }

    a {
      display: flex;
      color: $black;
      width: 100%;

      &:active, &:focus, &:hover {
        text-decoration: none;
      }
    }
  }

  &_text {
    padding-left: 1rem;
    padding-top: 0.5rem;

    .item {
      &-title {
        font-size: 1.1rem;
      }

      &-description {
        color: #97989C;
        font-weight: 600;
        font-size: .7rem;
      }
    }
  }

  &_value {
    border-radius: 2.5rem;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    background-color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1px $light-gray;
    transition: .1s;

    &.active {
      background-color: $light-green;
      color: $white;

      box-shadow: none;
    }
  }
}