.not-found {
  margin: 25px;
  text-align: center;

  h1 {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .small-text {
    font-size: 12px;
    color: $dark-grey;
  }

  .btn {
    margin-top: 5px;
  }
}