.CodeMirror {
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .4rem;
  padding: 2px;

  &-failed {
    animation: failed 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes failed {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 0 1px #721c24;
      background-color: #f8d7da;
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}
.CodeMirror-gutters {
  background-color: transparent;
}
.playground {
  &-code-editor {
    margin: 10px 25px;
  }

  &-frame {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}