.user-form {
  max-width: 434px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4.title {
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;

    small {
      display: block;
      font-size: 10px;
      margin-top: 5px;
      color: #adadad;
    }
  }

  &-group {
    position: relative;
    margin: 0 auto 1.5rem;
    width: 250px;
  }

  .form-check {
    margin-left: .5rem;

    input[type='checkbox'] {
      margin-top: .4rem;
    }

    label {
      font-size: .8rem;
    }
  }

  &-validation {
    position: absolute !important;
    top: 0;
    width: 100%;
    max-height: 74px;
    font-size: 14px;
  }

  &-spinner {
    width: 20px;
    height: 20px;
  }

  &-centered {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh);
    margin-top: -52px;
  }

  &-label {
    color: #999;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  &-input {
    font-size: 14px;
    padding: 10px;
    display: block;
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ label, &:valid ~ label {
      top: -15px;
      font-size: 10px;
      color: #5264AE;
    }

    &:focus ~ .bar {
      &:before, &:after {
        width: 50%;
      }
    }
  }

  &-bottom-text {
    margin-top: 100px;
    text-align: center;
  }

  &-link {
    margin-top: 2rem;
    font-size: 14px;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before, &:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #5264AE;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }
}