

.header-top {
  background-color: #3f4280;
  padding: 1.5rem;

  h1 {
    color: $white;
    width: 80%;
    font-size: 1.8rem;
  }

  h2 {
    color: $black-grey;
    font-size: 1rem;
  }

  button {
    border: none;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
  }
}

.btn-back {
  img {
    height: 0.75rem;
    transform: translateX(-7.5px);
  }
}

.header-task {
  background-color: #3f4280;
  padding: 1.5rem 1rem;
  max-height: 144px;
  position: relative;

  h1 {
    color: $white;
    width: 80%;
    font-size: 1.8rem;
  }

  h2 {
    color: $black-grey;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.top-style {
  &-list {
    background-color: $light-gray;
    margin-bottom: 1vw;
    padding: 0.5rem 0;
    min-height: 4rem;

    span {
      margin: 2vw;

      &:nth-child(1) {
        flex-basis: 18vw;
        color: $black;
        font-weight: 600;
        padding-left: .75rem;
      }

      &:nth-child(2) {
        flex-basis: 46vw;
      }

      &:nth-child(3) {
        flex-basis: 24vw;
      }
    }
  }
}

ol,
li {
  margin: 0;
  padding: 0;
}

.top-divider {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;

  span {
    background-color: $black;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 0.3rem;
    border-radius: 50%;
  }
}

.task-text {
  color: black;
  font-size: 1rem;
  margin: 1.5rem;
}

.work-text {
  color: black;
  font-size: 1rem;
  margin: 1rem;

  img {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

.flex-obj-center {
  display: flex;
  justify-content: center;
}

.center-obj {
  margin: 1rem auto;
  text-align: center;
}

.theory-btn {
  button {
    margin: 1rem;
  }
}

.figures {
  width: 5rem;
  height: 5rem;
  margin: 0.7rem;

  &-css-selectors {
    &-square {
      border-radius: 0;
      background-color: $orange;

      &-result {
        margin: 3.5rem 0;
      }
    }

    &-square-border {
      border-radius: 15%;
      background-color: $green;
    }

    &-circle {
      border-radius: 50%;
      background-color: $light-blue;
    }
  }

  &-css-style-square {
    width: 5rem;
    height: 5rem;
    border: 0.05rem solid $black;
    margin: 0.7rem;
    background-color: $white;

    &-result {
      background-color: $red;
      margin: 3.5rem 0;
    }
  }
}

.square-css-style-result {
  background-color: $red;
  margin: 3.5rem 0;
}
