.profile {
  &-header {
    background-color: $header-color;
    color: $white;
    padding: 3rem 1rem 3rem;

    span.course-progress {
      font-size: 25px;
    }

    &-content {
      display: flex;
    }

    &-info {
      &__user-data {
        h3.user-name {
          font-size: 20px;
        }

        h6.email {
          font-size: 10px;
          color: #97989C;
          margin-top: -5px;
          margin-bottom: 0;
        }

        margin-bottom: 25px;
      }
    }
  }

  &-top {
    margin-bottom: 2rem;
    background-color: $light-gray;
    padding: 1rem 1.2rem 1rem;
  }

  &-section {
    &_title {
      padding: 0 1rem 0.5rem;
    }
  }
}

.badge-position {
  position: absolute;
  top: 4.5rem;
  width: 2rem;

  &-first {
    left: 1rem;
  }

  &-second {
    left: 3.5rem;
  }
}

.back-prof {
  margin: 1.25rem;
}

.color-btn {
  background-color: $light-green;
}
