.user-rate {
  &_empty {
    text-align: center;
    margin-top: 20px;
    color: #d6d6d6;
  }

  &-current {
    background-color: #d6e1fa !important;
  }

  ol {
    list-style: none;
  }

  &_divider {
    text-align: center;
    margin: 1rem;
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item {
    -webkit-flex: 1 2.5 auto;
    -ms-flex: 1 2.5 auto;
    flex: 1 2.5 auto;
    align-items: center;
    flex-wrap: nowrap;
  }

  .table-header {
    color: $dark-grey;
    font-size: 1rem;
    padding: 0.6rem 0;
    flex-wrap: nowrap;

    span {
      margin: 2vw;

      &:nth-child(1) {
        flex-basis: 18vw;
        padding-left: .75rem;
      }

      &:nth-child(2) {
        flex-basis: 46vw;
      }

      &:nth-child(3) {
        flex-basis: 24vw;
      }
    }
  }
}