@import "colors";
@import "courses";
@import "btn";
@import "list";
@import "playground";
@import "not-found";
@import "user.profile";
@import "user.auth";
@import "user.rate";
//TODO: except this one
@import "user.top";

* {
  font-family: 'Open Sans', sans-serif;

  &:focus {
    outline: none !important;
  }
}

body {
  margin-top: 52px;
  background-color: $white;
}

a {
  transition: .1s;
}

.main-page {

  & .footer {
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;

    & .col {
      display: flex;
      justify-content: space-between;
    }

    & a, & span {
      color: $white;
    }
  }

  &_background-logo {
   background-image: url(~@/assets/images/mp-background-big.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.65);
  }

  &_content {
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;

    & h1 {
      font-weight: 800;
      font-size: 2rem;
      margin-bottom: 1.75rem;
    }

    & h4 {
      font-weight: 500;
      font-size: 1rem;
    }

    & h1, & h4 {
      color: $white;
    }

    & a {
      margin-top: 5rem;
    padding: 0.6rem 3rem;
    }

    &-wrapper {
      position: absolute;
      top: 25vh;
      left: 0;
      right: 0;
    }
  }
}

.content, .container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

.content {
  margin-bottom: 5rem;
}

.navbar {
  &-light, &-toggler {
    border: none;
  }

  &-brand {
    font-size: 1rem;
    font-weight: bold;
  }

  &-collapse {
    margin: -15px;
    margin-top: 0;
    margin-bottom: -5px;
    border-bottom: 1px solid $light-gray;
    place-content: flex-start flex-end;
  }

  &-nav {
    @media (min-width: 768px) {
      margin-right: 1rem;
    }
    .nav-link {
      padding: 15px;
      cursor: pointer;
      color: $black !important;

      @media (min-width: 768px) {
        padding: 8px;
      }
    }
  }

}

.nav {
  &-item {
    border-bottom: 1px solid $light-gray;
    position: relative;

    @media (min-width: 768px) {
      margin-left: .75rem;

      & a:before {
        content: '';
        width: 0;
        height: 0;
        background-color: $dark-blue;
        position: absolute;
        bottom: -5px;
        left: 50%;
        opacity: 0;
        transition: .1s;
      }

      &:hover a:before {
        opacity: 1;
        left: 0;
        height: 2px;
        width: 100%;
      }
    }

    &:hover a {
      color: $dark-blue !important;
    }
  }
}

.badge {
  color: #fff;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  font-size: .5rem;

  &-blue {
    background-color: #5582EA;
  }

  &-green {
    background-color: #00b61f;
  }
}
